@import "../variables.css";

.header-wrapper {
  background: var(--gecko-green);
  height: var(--header-size);
}

.main-content {
  margin-top: -var(--header-size);
  background: var(--gecko-white);
  min-height: 100vh;
}
