:root {
  --light-beige: #F3F3ED;
  --grey-beige: #DDE0DA;
  --olive: #929989;
  --light-olive: #C8C8C2;
  --dark-olive: #565641;
  --gecko-green: #95B85E;
  --gecko-dark-green: #87A655;
  --gecko-grey: #F3F3EE;
  --gecko-white: #FCFCFC;
  --font-family: 'Open Sans', sans-serif;
  --header-size: 60px;
}
